<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback/properties.xml" />
    <include resource="logback/console.xml" />

    <springProfile name="prod">
        <include resource="logback/file-error.xml" />
        <include resource="logback/sentry.xml" />

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE_ERROR" />
            <appender-ref ref="SENTRY" />
        </root>
    </springProfile>

    <springProfile name="local">
        <logger name="org.hibernate.SQL" level="DEBUG" />

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <logger name="org.hibernate.SQL" level="DEBUG" />
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
